---
import Sidebar from '../../sidebar/sidebar.astro';
import '../menuHeader.css';
import './asociados.css';
---

<div class="page-container">
    <Sidebar active="asociados" />
    
    <main class="content">
        <section id="deberes">
            <h2>Deberes de los asociados</h2>
            <ol class="deberes-list">
                <li>Conocer y acatar los principios básicos del cooperativismo, la ley, los 
                    estatutos, reglamentos, compromisos mutuos, objetivos y obligaciones 
                    derivados del Acuerdo Cooperativo y demás normas internas de la 
                    Cooperativa.</li>
                
                <li>Acatar y cumplir las decisiones de los organismos de administración, 
                    control y vigilancia, siempre que se ajusten a la ley, los estatutos y los 
                    reglamentos.</li>
                
                <li>Comportarse solidariamente tanto en sus relaciones con la Cooperativa como 
                    con los miembros de la misma.</li>
                
                <li>No ejecutar acciones ni incurrir en omisiones que afecten o puedan afectar 
                    la estabilidad económica y financiera o el prestigio social de la Cooperativa.</li>
                
                <li>Participar en forma activa en la formulación y diseño de los programas y 
                    proyectos, así como en su ejecución y utilizar los servicios, contribuyendo al 
                    progreso y desarrollo de la Cooperativa.</li>
                
                <li>Suministrar los informes y documentos que la Cooperativa le solicite para el 
                    buen desenvolvimiento de sus relaciones con ella e informar cualquier cambio 
                    de domicilio, tanto en su residencia como en su lugar de trabajo.</li>
                
                <li>Participar en las Asambleas Generales y elegir a los miembros de organismos 
                    de administración, control y vigilancia, así como en los procesos de elección 
                    de delegados cuando se definan.</li>
                
                <li>Asistir cumplidamente a los eventos de capacitación y demás actividades 
                    que se programen por parte de la Cooperativa.</li>
                
                <li>Comprometerse a entregar siempre productos de buena calidad y en las condiciones 
                    que reglamente el Consejo de Administración.</li>
                
                <li>Realizar reclamos y sugerencias ante las autoridades competentes de la Cooperativa, 
                    con respeto y sin alterar la buena imagen y buen funcionamiento de la misma.</li>
                
                <li>Los demás inherentes a su condición de asociado, derivados de la ley, los Estatutos 
                    y las normas internas de la Cooperativa.</li>
                
                <li>Para los asociados que al momento de quedar aprobado este numeral queden en situación 
                    de irregularidad, la cooperativa les concederá un tiempo no mayor 90 dias para 
                    ajustarse a la norma.</li>
            </ol>
        </section>

        <section id="derechos">
            <ol class="derechos-list">

                <h2>Derechos de los asociados</h2>
                <p>Serán derechos fundamentales de los asociados, además de los consagrados en 
                    las disposiciones legales y en las normas concordantes de los presentes estatutos, 
                    los siguientes: 
                </p>
                <li>Utilizar los servicios de la Cooperativa:</li>
                
                <li>Participar en las actividades de la Cooperativa y en su administración mediante 
                    el desempeño de cargos sociales. </li>
                
                <li>Ser informados de la gestión de la Cooperativa de acuerdo con las 
                    prescripciones estatutarias.</li>
                
                <li>Ejercer su derecho a la participación, asistir a las Asambleas Generales si es 
                    asociado hábil, elegir y ser elegido y participar de la toma de decisiones dentro 
                    del principio democrático por el cual a cada asociado corresponde un voto.</li>
                
                <li>Presentar a la Asamblea General o al Consejo de Administración proyectos o 
                    iniciativas que tengan por objetivo el mejoramiento de la Cooperativa y sus 
                    servicios. </li>
                
                <li>Fiscalizar la gestión social y económica de la Cooperativa, para lo cual podrá 
                    ejercer su derecho a la información y examinar documentos con los procedimientos 
                    que se establezcan en los reglamentos de la Cooperativa. </li>
                
                <li>Retirarse voluntariamente de la Cooperativa, previo cumplimiento de los requisitos 
                    señalados para ello y mientras ella no se haya disuelto.</li>
                
                <li>Gozar de todos los servicios, beneficios y prerrogativas de la Cooperativa, 
                    mientras se encuentre al día en el cumplimiento de sus obligaciones.</li>
        
            </ol>
        </section>
    </main>
</div>