---
import Sidebar from '../../sidebar/sidebar.astro';
import '../menuHeader.css';
---

<div class="page-container">
    <Sidebar active="asociados" />
    
    <main class="content">
        <section>
            <h2>Deberes de los asociados</h2>
            <ol class="deberes-list">
                <li>Conocer y acatar los principios básicos del cooperativismo, la ley, los 
                    estatutos, reglamentos, compromisos mutuos, objetivos y obligaciones 
                    derivados del Acuerdo Cooperativo y demás normas internas de la 
                    Cooperativa.</li>
                
                <li>Acatar y cumplir las decisiones de los organismos de administración, 
                    control y vigilancia, siempre que se ajusten a la ley, los estatutos y los 
                    reglamentos.</li>
                
                <li>Comportarse solidariamente tanto en sus relaciones con la Cooperativa como 
                    con los miembros de la misma.</li>
                
                <li>No ejecutar acciones ni incurrir en omisiones que afecten o puedan afectar 
                    la estabilidad económica y financiera o el prestigio social de la Cooperativa.</li>
                
                <li>Participar en forma activa en la formulación y diseño de los programas y 
                    proyectos, así como en su ejecución y utilizar los servicios, contribuyendo al 
                    progreso y desarrollo de la Cooperativa.</li>
                
                <li>Suministrar los informes y documentos que la Cooperativa le solicite para el 
                    buen desenvolvimiento de sus relaciones con ella e informar cualquier cambio 
                    de domicilio, tanto en su residencia como en su lugar de trabajo.</li>
                
                <li>Participar en las Asambleas Generales y elegir a los miembros de organismos 
                    de administración, control y vigilancia, así como en los procesos de elección 
                    de delegados cuando se definan.</li>
                
                <li>Asistir cumplidamente a los eventos de capacitación y demás actividades 
                    que se programen por parte de la Cooperativa.</li>
                
                <li>Comprometerse a entregar siempre productos de buena calidad y en las condiciones 
                    que reglamente el Consejo de Administración.</li>
                
                <li>Realizar reclamos y sugerencias ante las autoridades competentes de la Cooperativa, 
                    con respeto y sin alterar la buena imagen y buen funcionamiento de la misma.</li>
                
                <li>Los demás inherentes a su condición de asociado, derivados de la ley, los Estatutos 
                    y las normas internas de la Cooperativa.</li>
                
                <li>Para los asociados que al momento de quedar aprobado este numeral queden en situación 
                    de irregularidad, la cooperativa les concederá un tiempo no mayor 90 dias para 
                    ajustarse a la norma.</li>
            </ol>
        </section>
    </main>
</div>