---
import Sidebar from '../../sidebar/sidebar.astro';
import '../menuHeader.css';
---

<div class="page-container">
    <Sidebar active="asociados" />
    
    <main class="content">
        <section>
            <h2>Derechos de los asociados</h2>
            <p>Serán derechos fundamentales de los asociados, además de los consagrados en 
                las disposiciones legales y en las normas concordantes de los presentes estatutos, 
                los siguientes: 
            </p>
            <ol class="deberes-list">
                <li>Utilizar los servicios de la Cooperativa:</li>
                
                <li>Participar en las actividades de la Cooperativa y en su administración mediante 
                    el desempeño de cargos sociales. </li>
                
                <li>Ser informados de la gestión de la Cooperativa de acuerdo con las 
                    prescripciones estatutarias.</li>
                
                <li>Ejercer su derecho a la participación, asistir a las Asambleas Generales si es 
                    asociado hábil, elegir y ser elegido y participar de la toma de decisiones dentro 
                    del principio democrático por el cual a cada asociado corresponde un voto.</li>
                
                <li>Presentar a la Asamblea General o al Consejo de Administración proyectos o 
                    iniciativas que tengan por objetivo el mejoramiento de la Cooperativa y sus 
                    servicios. </li>
                
                <li>Fiscalizar la gestión social y económica de la Cooperativa, para lo cual podrá 
                    ejercer su derecho a la información y examinar documentos con los procedimientos 
                    que se establezcan en los reglamentos de la Cooperativa. </li>
                
                <li>Retirarse voluntariamente de la Cooperativa, previo cumplimiento de los requisitos 
                    señalados para ello y mientras ella no se haya disuelto.</li>
                
                <li>Gozar de todos los servicios, beneficios y prerrogativas de la Cooperativa, 
                    mientras se encuentre al día en el cumplimiento de sus obligaciones.</li>
        
            </ol>
        </section>
    </main>
</div>