.header {
	position: relative;
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	background-color: var(--color-header);

	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

/* IZQUIERDA */
.header-left {
	flex: 0 0 auto;
}

/* DERECHA */
.header-right {
	margin-left: auto;
	display: flex;
	gap: 0.5rem;
}

/* MENÚ CENTRADO */
.header-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	gap: 1rem;
}

.separator {
	margin: 0 0.75rem;
	opacity: 0.4;
}


/* LINKS */
.header-center a {
	padding: 0.5rem 1rem;
	border-radius: 999px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.header-center a:hover {
	background-color: var(--color-secondary);
	color: var(--color-text);
}

/* HAMBURGER */
.menu-toggle {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
	margin-left: auto;
}

.menu-toggle span {
	display: block;
	width: 24px;
	height: 3px;
	background: white;
	margin: 5px 0;
	transition: 0.3s;
}

.menu-toggle.open span:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open span:nth-child(2) {
	opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
	transform: rotate(-45deg) translate(6px, -6px);
}

.nav-item {
	position: relative;
}

.nav-link {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: 999px;
	font: inherit;
	color: inherit;
	transition: background-color 0.3s ease;
}

.nav-link:hover {
	background-color: var(--color-secondary);
	color: var(--color-text);
}

/* Submenu */
.submenu {
	position: absolute;
	top: 120%;
	left: 50%;
	transform: translateX(-50%);
	background: white;
	border-radius: 12px;
	padding: 0.5rem;
	min-width: 180px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.15);

	display: none;
	flex-direction: column;
	z-index: 100;
}

.submenu a {
	padding: 0.5rem 1rem;
	border-radius: 8px;
	white-space: nowrap;
}

.submenu a:hover {
	background-color: var(--color-secondary);
	color: var(--color-text);
}

/* Mostrar en desktop */
.has-submenu:hover .submenu {
	display: flex;
}


/* ===== MOBILE ===== */
@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}
    .header-right {
		display: none;
	}
    /* Cuando el menú esté abierto */
    .header-center.open + .header-right,
    .header-center.open ~ .header-right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin-top: 1rem;
    }


	.header {
		flex-wrap: wrap;
		padding: 1rem;
	}

	.header-center {
		position: static;
		transform: none;
		display: none;
		width: 100%;
		flex-direction: column;
		align-items: center;
		margin-top: 1rem;
		gap: 0.5rem;
	}

	.header-center.open {
		display: flex;
	}

	.header-right {
		margin-left: 0;
	}
}
