---
import './header.css';
import LogoAlagro from '../../assets/icons/logoAlagro.png';
import LogoLaLola from '../../assets/icons/lalola_logo.png';
import LogoLaRueda from '../../assets/icons/la_rueda_logo.png';
---


<header class="header header-shadow">

	<div class="header-left">
		<img src={LogoAlagro.src} alt="Alagro" class="logo" />
	</div>

	<button class="menu-toggle" aria-label="Abrir menú">
		<span></span>
		<span></span>
		<span></span>
	</button>

	<nav class="header-center" id="menu">
		<a href="#">Inicio</a>
		<a href="#">Quienes somos</a>
		<a href="#">Productos</a>
		<a href="#">Gestión social</a>
		<a href="#">Acopios de leche</a>
		<a href="#">PQRS</a>
	</nav>


	<div class="header-right">
		<img src={LogoLaRueda.src} alt="La Rueda" class="logo" />
		<img src={LogoLaLola.src} alt="La Lola" class="logo" />
	</div>
</header>

<script>
	const btn = document.querySelector('.menu-toggle');
	const menu = document.querySelector('#menu');

	if (btn && menu) {
		btn.addEventListener('click', () => {
			menu.classList.toggle('open');
			btn.classList.toggle('open');
		});
	}
</script>


