section {
	padding: 3rem 1.5rem;
	text-align: center;
}

h2 {
	margin-bottom: 2rem;
}

.logo {
	height: 70px;
	width: auto;
	opacity: 0.85;
}

.productos h1{
	margin-bottom: 2rem;
	color: var(--color-white);

}

.aliados h1{
	margin-bottom: 2rem;
	color: var(--color-primary);
}

.logos-center {
	display: flex;
	justify-content: center;
}

.productos-logos {
	display: flex;
	gap: 3rem;
	align-items: center;
}

.logos-marquee {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquee {
  display: flex;
}

.marquee-left .marquee-track {
  animation: scroll-left 20s linear infinite;
}

.marquee-right .marquee-track {
  animation: scroll-right 10s linear infinite;
  white-space: nowrap; /* asegura que no se rompa la fila */
}

.marquee-right {
  margin-top: 2rem; /* ajusta el espacio vertical entre las filas */
}

.marquee-track {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;       /* evita que los logos salten a otra línea */
  min-width: max-content;  /* fuerza que la fila tenga el ancho total de los logos */
}

/* Pausar al hover */
.marquee-track:hover {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

@media (max-width: 768px) {
	.marquee-track {
		animation-duration: 60s;
	}

	.logo {
		height: 55px;
	}
  .productos-logos {
		flex-wrap: wrap;          /* permite bajar a otra línea */
		justify-content: center; /* centra los logos */
		gap: 1.5rem;              /* menos espacio */
	}

	.productos-logos img {
		height: 55px;
	}
}
