---
import './footer.css';
import LogoAlagro from '../../assets/icons/alagro_logo_blanco.png';
import Facebook from '../../assets/icons/facebook.png';
import Instagram from '../../assets/icons/instagram.png';
import WhatsApp from '../../assets/icons/whatsapp.png';
---

<footer class="footer">
	<div class="footer-container">
		<div class="footer-brand">
			<img src={LogoAlagro.src} alt="Logo" class="footer-logo" />
			<a href="#">Quiénes somos</a>
			<a href="#">Productos</a>
			<a href="#">Gestión social</a>
			<a href="#">PQRS</a>
		</div>

		<div class="footer-links">
			<div class="social-icons">
				<a href="#"><img src={Facebook.src} alt="Facebook" /></a>
				<a href="#"><img src={Instagram.src} alt="Instagram" /></a>
				<a href="#"><img src={WhatsApp.src} alt="WhatsApp" /></a>
			</div>

			<h4>Contacto</h4>
			<p>📍 Calle 62 #44-78</p>
			<p>Centro de convenciones
				Rionegro - Antioquia</p>
			<p>📞 +57 323 413 37 51</p>
			<p>✉️ alagrocoop@gmail.com</p>
		</div>

		<div class="footer-form">
			<h4>Quiero ser asociado</h4>
			<form class="asociado-form">
				<input type="text" placeholder="Nombre" />
				<input type="tel" placeholder="Teléfono" />
				<input type="email" placeholder="Email" />
				<textarea placeholder="Mensaje" rows="2"></textarea>
				<button type="submit">Enviar</button>
			</form>
		</div>
	</div>

	<div class="footer-bottom">
		<p>© 2026 Alagro. Todos los derechos reservados.
			Desarrollo web por Juan José Cardona
		</p>
	</div>
</footer>
