---
import './proposito.css';
---

<section class="descripcion">
    <h1>Propósito empresarial</h1>
    <p>Somos una cooperativa dedicada a la producción y comercialización de 
        productos lácteos de alta calidad, comprometida con el bienestar de 
        nuestros socios y el desarrollo sostenible de nuestra comunidad.
    </p>
    <a href="#">Leer más</a>
</section>
