.descripcion {
	display: flex;
	flex-direction: column;   /* 👈 clave */
	align-items: center;      /* centra horizontal */
	text-align: center;

	padding: 3rem 1.5rem;

	margin: 0 auto;           /* centra la sección */

	background: url('/fondo_proposito.png');
	background-size: cover;
	background-position: center;
}

.descripcion h1 {
	margin-bottom: 0.5rem;
	color: var(--color-white);
}

.descripcion p {
	max-width: 1000px;
	line-height: 1.6;
	font-size: 1.5rem;
	opacity: 0.9;
	color: var(--color-white);

}

.btn-leer {
	margin-top: 0.75rem;
	padding: 0.6rem 1.6rem;

	display: inline-flex;
	align-items: center;
	gap: 0.5rem;

	font-size: 1.5rem;
	font-weight: 600;

	color: #fff;
	background-color: var(--color-secondary);
	border-radius: 999px;

	text-decoration: none;
	transition: background-color 0.3s ease, transform 0.25s ease;
}

.btn-leer span {
	transition: transform 0.25s ease;
}

.btn-leer:hover {
	background-color: var(--color-white);
	color: var(--color-primary);
	transform: translateY(-2px);
}

.btn-leer:hover span {
	transform: translateX(4px);
}


@media (max-width: 768px) {
	.descripcion {
		padding: 2rem 1rem;
	}

	.descripcion h1 {
		font-size: 1.6rem;
	}
}
	