---
import './proposito.css';
---

<section class="descripcion">
	<h1>Propósito empresarial</h1>

	<p>
		Trabajamos unidos para cuidar, fortalecer y dignificar el trabajo de los pequeños
		productores del Oriente Antioqueño, acompañándolos con asociatividad,
		transformación e innovación, para que su esfuerzo diario se convierta en
		bienestar, oportunidades reales y un futuro más justo y sostenible para sus
		familias y para el campo.
	</p>

	<a href="#" class="btn-leer">
        Descubre nuestro propósito
        <span>→</span>
    </a>

</section>

