---
import { ViewTransitions } from 'astro:transitions';
import Whatsapp from '../components/whatsapp/whatsapp.astro';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />

  <link rel="icon" type="image/png" href="/logoEmpresa.png" />
  <title>Alagro</title>

  <ViewTransitions />
</head>

<body>

    <main>
        <slot />
    </main>
    <Whatsapp/>

</body>
</html>


